.autor{
    display: flex;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 4em 5em;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-bottom: 1em;
    font-family: sans-serif;
}

.autor input{
    margin-bottom: 1em;
    font-size: 1.1em;
    padding: 0.3em;
    border: 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.disable{
    cursor: not-allowed;
    opacity: 0.5;
}

@media screen and (max-width:450px) {
    .autor input, textarea, select{
        max-width: 350px;
        min-width: 300px;    
    }
    .form-profile button{
        max-width: 350px;
        min-width: 300px; 
    }
    .autor label{
        font-size: 1.2em;
    }
}