.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 0;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: .8em;
    font-family: sans-serif;
}

.title span{
    margin-left: .5em;
    font-size: 1.5em;
    width: 250px;
}

.sair{
    text-decoration: none;
    padding: 4px 7px;
    background-color: transparent;
    border:  0;
    color: #121212;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 75%;
    cursor: pointer;
}

@media screen and (max-width:400px) {
    .sair{
        margin-left: 40%;
    }

}
@media only screen and (min-width:400px) and  (max-width:600px) {
    .sair{
        margin-left: 45%;
    }
}

@media only screen and (min-width:600px) and (max-width:700px) {
    .sair{
        margin-left: 57%;
    }
}