.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 99;/*para deixar em cima de td mundo*/
    display: block;
}

.modal .container{
    position: fixed;
    max-width: 600px;
    top: 15%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
}
.modal .container h2{
    margin-top: 1em;
    text-align: center;
}

.fechar{
    float: right;
    margin-bottom: 1.5em;
    background-color: #811800;
    border: 0;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2px 0 7px;
    border-radius: 10%;
}

.fechar svg{
    margin-right: 5px;
}

.modal h2{
    margin-bottom:  1.2em;
    font-size: 2em;
}

.modal span{
    font-weight: bold;
    font-size: 1.2em;
    color: #121212;
}

.modal span i{
    font-weight: 400;
    margin-right: 1em;
    padding: 2px 8px;
    border-radius:  5px;
}

.row{
    margin-bottom: 1em;
}

.modal p{
    white-space: pre-wrap;/*respeitar a formatação*/
    padding-top: 0.5em;
}